<html>
<head>
    <title>Listar Pessoas</title>
</head>
<body>
    <h1>Criação de Pessoas</h1>
    <a href="{% url 'pessoas_pessoa_list' %}">Ir para criação de pessoa</a>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
<!--        <label>Nome</label>-->
<!--        <input name="nome" />-->
<!--        <label>Idade</label>-->
<!--        <input name="idade" />-->
        <button type="submit">Criar</button>
    </form>

</body>
</html>