<html>
<head>
    <title>Listar Pessoas</title>
</head>
<body>
    <h1>Listagem de Pessoas</h1>
    <a href="{% url 'pessoas_pessoa_create' %}">Ir para criação de pessoa</a>
    <ul>

        {% for pessoa in object_list %}
            <li>
                <strong>ID:</strong> {{ pessoa.id }} -
                <strong>Nome:</strong> {{ pessoa.nome }} -
                <strong>Idade:</strong> {{ pessoa.idade }} <a href="{% url 'pessoas_pessoa_delete' pessoa.id %}">Excluir</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>