<html>
<head>
    <title>Listar Pessoas</title>
</head>
<body>
    <h1>Deletar Pessoas</h1>
    <a href="{% url 'pessoas_pessoa_list' %}">Ir para criação de pessoa</a>
    <form method="post">
        {% csrf_token %}
        <p>Você tem certeza que quer deletar a pessoa {{ object.nome }}</p>
        <button type="submit">Sim, tenho certeza</button>
    </form>
</body>
</html>